.header-title {
    position: relative;

    max-width: 353px;
    padding-left: var(--indent-container-inner);

    @media screen and (max-width: 1000px) {
        font-size: 1.25rem;
        max-width: 123px;
    }

    &::before {
        position: absolute;
        content: '';
        inset: 0;
        right: auto;
        
        width: 5px;

        background: var(--accent-gradient);

        @media screen and (max-width: 1000px) {
            display: none;
        }
    }
}