.container {

    &_bottom {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;

        @media screen and (max-width: 1000px) {
            position: relative;
            
            flex-direction: column-reverse;
            gap: 4.875rem;
        }
    }
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}